<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap" rel="stylesheet">
    <title>
        <%= pageTitle %>
    </title>
</head>

<style>
    @media only screen and (max-width: 425px) {
        .post-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .hero-banner {
            width: 100%;
        }

        .brand-logo {
            text-align: center;
        }

        nav .brand-logo {
            width: 100%;
        }

        .logo-footer {
            text-align: center;
        }
    }

    /* only put ths when using image as logo */
    /* .brand-logo {
        margin-top: 10px;
    } */

    .render-line-break {
        white-space: pre-line;
    }

    .video-container {
        width: 100%;
        height: 100%;
        padding-bottom: 0px;
    }

    .video-container video {
        /* Make video to at least 100% wide and tall */
        min-width: 100%;
        min-height: 100%;

        /* Setting width & height to auto prevents the browser from stretching or squishing the video */
        width: 100%;
        height: auto;
    }

    #post-author-videos {
        display: flex;
    }

    #post-author-videos a {
        text-transform: none;
    }

    .post-author-chip-left {
        padding-right: 15px;
        width: min-content;

    }

    nav.nav-extended {
        padding-top: 20px;
        min-height: 100px;
    }


    html {
        font-family: 'Poppins', sans-serif;
    }

    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }

    .post-title {
        font-size: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 10px;
    }

    form#edit-video,
    form#delete-video {
        font-size: 1px;
        padding-top: 4px;
        width: min-content;
    }

    #delete-video {
        display: flex;
    }

    nav ul a:hover {
        color: white !important;
        background-color: #0D5338;
    }

    .auth-font-siize {
        font-size: 2.1rem;
    }

    .dropdown-trigger {
        color: #212121;
        background-color: #ffffff;
        border-radius: 2px;
    }

    .dropdown-content {
        overflow-y: hidden;
        top: 100% !important;
        min-width: max-content;
    }

    .dropdown-content li>a,
    .dropdown-content li>span {
        color: white !important;
        background-color: #0D5338;
    }

    .dropdown-content li>a:hover {
        background-color: #114732 !important;
    }


    .modal-trigger a,
    .modal-trigger {
        margin-right: 0px !important;
        vertical-align: sub;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // hide on load, because it was taking up too much space 
        const video = document.getElementById('video-preview-div');
        video.style.display = "none";

    })

    document.addEventListener("DOMContentLoaded", function () {
        // profile picture url
        const picture = document.getElementById('profile-picture-preview-div');
        picture.style.display = 'none';
    })

    // instant image prewview on add-video
    function previewProfilePicture() {
        // re-show the image prewview
        const div = document.getElementById('profile-picture-preview-div');
        div.style.display = "block";

        const preview = document.getElementById('picture');
        const file = document.querySelector('input[type=file]').files[0];
        const reader = new FileReader();

        reader.addEventListener("load", function () {
            // convert image file to base64 string
            preview.src = reader.result;
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    }

    function previewUpdaedVideo() {
        // re-show the image prewview
        const div = document.getElementById('update-video-preview-div');
        div.style.display = "block";

        const preview = document.querySelector('video');
        const file = document.querySelector('input[type=file]').files[0];
        const reader = new FileReader();

        reader.addEventListener("load", function () {
            // convert image file to base64 string
            preview.src = reader.result;
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    }


    // instant image prewview on add-video
    function previewFile() {
        // re-show the image prewview
        const div = document.getElementById('video-preview-div');
        div.style.display = "block";


        const preview = document.querySelector('video');
        const file = document.querySelector('input[type=file]').files[0];
        const reader = new FileReader();

        reader.addEventListener("load", function () {
            // convert image file to base64 string
            preview.src = reader.result;
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    }

    // this will auto set default date object when add-video loaded
    document.addEventListener('DOMContentLoaded', function () {
        var options = {
            defaultDate: new Date(),
            setDefaultDate: true
        };
        var elems = document.querySelector('.datepicker');
        var instance = M.Datepicker.init(elems, options);

        if (window.location.pathname == '/add-video') {
            instance.setDate(new Date());
        }

    });

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        M.Sidenav.init(elems);


    })

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.dropdown-trigger');
        M.Dropdown.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        M.Modal.init(elems);
    });

</script>


<body class="grey lighten-2">

    <header>
        <!-- navbar and header goes here -->
        <nav class="nav-extended" style="background-color: #134733;">
            <div class="nav-wrapper container">
                <a id="logo-container" href="/" class="brand-logo">
                    <!-- <img src="/images/logo.png" width="250" height="auto"> -->
                    <a href="/" class="brand-logo">training-vlog</a>
                </a>
                <ul class="right hide-on-med-and-down">
                    <% if (isAuthenticated) { %>

                        <!-- Dropdown Trigger -->
                        <li>
                            <a class='dropdown-trigger  auth-font-siize' href='#' data-target='dropdown'>
                                <%= username %>
                            </a>
                        </li>

                        <!-- Dropdown Structure -->
                        <ul id='dropdown' class='dropdown-content'>

                            <li><a href="/user/<%= currentSessionUserId %> ">user-details</a></li>
                            <li><a href="/my-videos/<%= username %> ">my-videos</a></li>
                            <li><a href="/add-video">add-video</a></li>
                            <form action="/logout" method="post">
                                <input type="hidden" id="csrfToken" name="_csrf" value="<%= csrfToken %>">
                                <li><a href="javascript:{}"
                                       onclick="document.getElementById('log-out').submit(); return false;">logout</a>
                                </li>
                            </form>
                        </ul>

                        <% } else { %>
                            <li>
                                <a class="auth-font-siize" href=" /login">login</a> </h5>
                            </li>
                            <% } %>
                </ul>

                <ul id="slide-out" class="sidenav">

                    <% if (isAuthenticated) { %>
                        <li class="grey darken-4">
                            <a href="#email"><span class="white-text">
                                    <%= username %>
                                </span></a>
                        </li>
                        <li><a href="/user/<%= currentSessionUserId %> ">user-details</a></li>
                        <li><a href="/my-videos/<%= username %> ">my-videos</a></li>
                        <li><a href="/add-video">add-video</a></li>
                        <form action="/logout" id="log-out" method="post">
                            <input type="hidden" id="csrfToken" name="_csrf" value="<%= csrfToken %>">

                            <li><a href="javascript:{}"
                                   onclick="document.getElementById('log-out').submit(); return false;">logout</a></li>

                        </form>
                        <% } else { %>
                            <li><a href="/login">login</a></li>
                            <% } %>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>

        </nav>


        <% if (!isAuthenticated && pageTitle==="Home" ) {%>
            <div id="index-banner">
                <div class="section no-pad-bot" style=" background-color: #115339;">
                    <div class="container">
                        <br>
                        <div class="header center white-text">
                            <br>
                            <img class="hero-banner" src="/images/logo/jaw_strength_presents.png" width="400"
                                 height="auto">
                            <br>
                        </div>
                        <!-- <h1 class="header center white-text ">Training Vlog</h1> -->
                        <div class="row center">
                            <h5 class="header col s12 light white-text text-lighten-1">
                                A full-stack web application to log training videos with the respect to weekly
                                session. Built by an athlete, for the athletes!
                            </h5>
                        </div>
                        <div class="row center">
                            <a href="#" class="btn white grey-text text-darken-4">Learn
                                more</a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <% } %>
    </header>