<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
    <title>
        <%= pageTitle %>
    </title>
</head>

<style>
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }

    .post-title {
        font-size: 100%;
        padding: 7px;
    }

    form#edit-video,
    form#delete-video {
        font-size: 1px;
        padding-top: 4px;
        width: min-content;
    }

    nav ul a:hover {
        background-color: #424242 !important;
    }

    .auth-font-siize {
        font-size: 2.1rem;
    }

    .dropdown-content {
        overflow-y: hidden;
        top: 100% !important;
        min-width: max-content;
    }

    .dropdown-content li>a,
    .dropdown-content li>span {
        color: white !important;
        background-color: #424242;
    }

    .dropdown-content li>a:hover {
        border: 1px solid #424242;
        background-color: #212121 !important;
    }
</style>

<script>
    // instant image prewview on add-video
    function previewFile() {
        // re-show the image prewview
        const div = document.getElementById('image-preview');
        div.style.display = "block";

        const preview = document.querySelector('img');
        const file = document.querySelector('input[type=file]').files[0];
        const reader = new FileReader();

        reader.addEventListener("load", function () {
            // convert image file to base64 string
            preview.src = reader.result;
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    }

    // this will auto set default date object when add-video loaded
    document.addEventListener('DOMContentLoaded', function () {
        var options = {
            defaultDate: new Date(),
            setDefaultDate: true
        };
        var elems = document.querySelector('.datepicker');
        var instance = M.Datepicker.init(elems, options);
        // instance.open();
        instance.setDate(new Date());

        // hide on load, because it was taking up too much space 
        const div = document.getElementById('image-preview');
        div.style.display = "none";
    });

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        M.Sidenav.init(elems);


    })
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.dropdown-trigger');
        M.Dropdown.init(elems);
    });


</script>


<body class="grey lighten-2">

    <header>
        <!-- navbar and header goes here -->
        <nav class="nav-extended grey darken-4">
            <div class="nav-wrapper container">
                <a id="logo-container" href="/" class="brand-logo">training-vlog</a>

                <ul class="right hide-on-med-and-down">

                    <% if (isAuthenticated) { %>

                        <!-- Dropdown Trigger -->
                        <a class='dropdown-trigger  auth-font-siize' href='#' data-target='dropdown'>
                            <%= username %>
                        </a>


                        <!-- Dropdown Structure -->
                        <ul id='dropdown' class='dropdown-content'>

                            <li><a href="/user/<%= currentSessionUserId %> ">user-details</a></li>
                            <li><a href="/add-video">add-video</a></li>
                            <form action="/logout" method="post">
                                <input type="hidden" id="csrfToken" name="_csrf" value="<%= csrfToken %>">
                                <li><a href="javascript:{}"
                                       onclick="document.getElementById('log-out').submit(); return false;">logout</a>
                                </li>
                            </form>
                        </ul>


                        <% } else { %>
                            <li>
                                <a href=" /login">login</a>
                            </li>
                            <% } %>
                </ul>



                <ul id="slide-out" class="sidenav">

                    <% if (isAuthenticated) { %>
                        <li class="grey darken-4">

                            <a href="#email"><span class="white-text">
                                    <%= username %>
                                </span></a>

                        </li>
                        <li><a href="/user/<%= currentSessionUserId %> ">user-details</a></li>
                        <li><a href="/add-video">add-video</a></li>
                        <form action="/logout" id="log-out" method="post">
                            <input type="hidden" id="csrfToken" name="_csrf" value="<%= csrfToken %>">

                            <li><a href="javascript:{}"
                                   onclick="document.getElementById('log-out').submit(); return false;">logout</a></li>

                        </form>


                        <% } else { %>
                            <li><a href="/login">login</a></li>
                            <% } %>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <!-- <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
            </div>





        </nav>
    </header>