<%- include("./includes/top.ejs") %>
    <main>

        <div class="container">
            <br><br>
            <!-- Page Content goes here -->
            <div class="row">

                <% if ( videosArray.length> 0 ) { %>

                    <% for (let v of videosArray) { %>


                        <div class="col s3">
                            <a href="/video/<%= v.id %> ">
                                <div class="card hoverable">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img src="<%= v.videoUrl %>" />
                                    </div>
                                    <div class="card-content">
                                        <span class="grey-text text-darken-4">
                                            <p>
                                                <%= v.title %>
                                            </p>
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <% } %>

                            <% } else { %>

                                <h1 class="header center">empty</h1>
                                <div class="row center">
                                    <h5 class="header col s12 light">add more video</h5>
                                </div>

                                <% } %>
            </div>
    </main>

    <%- include("./includes/bottom.ejs") %>