<%- include("./includes/top.ejs") %>



    <main>

        <div class="container">
            <br><br>

            <!-- Page Content goes here -->
            <div class="row">

                <% if ( videosArray.length> 0 ) { %>


                    <% for (let v of videosArray) { %>


                        <div class="col s3">
                            <a href="/video/<%= v.id %> ">
                                <div class="card hoverable">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img src="<%= v.videourl %>" />
                                    </div>
                                    <div class="card-content">
                                        <span class="grey-text text-darken-4">
                                            <%= v.title %>
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <% } %>

                            <% } else { %>

                                <!-- empty -->

                                <% } %>





            </div>
    </main>





    <%- include("./includes/bottom.ejs") %>