<%- include("../includes/top.ejs") %>
    <main>

        <div class="container">
            <br><br>
            <!-- Page Content goes here -->
            <div class="row">
                <% if ( videos.length> 0 ) { %>

                    <% for (let v of videos) { %>


                        <div class="col s3">
                            <a href="/video/<%= v.id %> ">
                                <div class="card hoverable">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <video width="100%" src="/<%= v.videoUrl %>" >
                                    </div>
                                    <div class="post-title center grey-text text-darken-4">
                                        <%= v.title %>

                                    </div>

                                </div>
                            </a>
                        </div>

                        <% } %>

                            <% } else { %>

                                <h1 class="header center">empty</h1>
                                <div class="row center">
                                    <h5 class="header col s12 light">add more video</h5>
                                </div>

                                <% } %>

            </div>
            <br>
            <ul class="pagination center">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a>
                </li>
                <li class="active grey darken-4"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
            <br>
            <br>
        </div>
        <br>
    </main>



    <%- include("../includes/bottom.ejs") %>