<%- include("../includes/top.ejs") %>

    <main>
        <div class="container">
            <br /><br />
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-image">
                            <img src="<%= video.videoUrl %> " />
                        </div>



                        <div class="card-content">
                            <span class="card-title grey-text text-darken-4">
                                <%= video.title %>
                            </span>
                            <p>
                                <%= video.message %>
                            </p>
                        </div>

                        <div class=" card-action">
                            <div class="chip">
                                <img src="<%= videoUserProfileUrl %>">
                                <%= author %>
                            </div>
                            <div class="chip">
                                <%= date %>
                            </div>


                            <% if (isAuthenticated && author==currentSessionUser) { %>


                                <div class="chip right">
                                    <form id="edit-video" action="/edit-video/<%= video.id %>" method="post">
                                        <input type="hidden" name="title" id="title" value="<%= video.title %>" />
                                        <input type="hidden" name="message" id="message" value="<%= video.message %>" />
                                        <input type="hidden" name="id" id="id" value="<%= video.id %>" />
                                        <input type="hidden" id="csrfToken" name="_csrf" value="<%= csrfToken %>">
                                        <a href="javascript:{}"
                                           onclick="document.getElementById('edit-video').submit(); return false;"><i
                                               class="material-icons grey-text text-darken-2"
                                               style="font-size: 20px">edit</i></a>
                                    </form> ‏‎ ‎‏‎
                                </div>

                                <div class="chip right">
                                    <form id="delete-video" action="/delete-video/<%= video.id %>" method="post">
                                        <input type="hidden" name="id" id="id" value="<%= video.id %>" />
                                        <input type="hidden" id="csrfToken" name="_csrf" value="<%= csrfToken %>">
                                        <a href="javascript:{}"
                                           onclick="document.getElementById('delete-video').submit(); return false;"><i
                                               class="material-icons grey-text text-darken-2"
                                               style="font-size: 20px">delete</i></a>
                                    </form> ‏‎ ‎
                                </div>

                                <% } %>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <% if (comments.length> 0) { %>
            <% for (let comment of comments) { %>




                <div class="container">
                    <div class="row">

                        <div class="col s12">
                            <div class="card">



                                <div class="card horizontal ">
                                    <div class="card-image">
                                        <img src=" <%= comment.profilePictureUrl %> " class="small">
                                    </div>
                                    <div class="card-stacked">
                                        <div class="card-content">
                                            <span class="card-title">
                                                <%= comment.username %>
                                            </span>

                                            <p>
                                                <%= comment.comment %>
                                            </p>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>

                <% } %>
                    <% } %>

                        <% if (isAuthenticated) { %>

                            <div class="container">
                                <div class="row">
                                    <div class="col s12">
                                        <div class="card">
                                            <div class="card-content">
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <span class="card-title grey-text text-darken-4">Comment</span>
                                                    </div>
                                                </div>

                                                <form action="/add-comment" method="POST">
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <textarea id="icon_prefix" id="message" name="message"
                                                                      class="materialize-textarea" required></textarea>
                                                            <label for="icon_prefix">Message</label>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="center col s12">
                                                            <input type="hidden" id="videoId" name="videoId"
                                                                   value="<%= video.id  %>">
                                                            <input type="hidden" id="userId" name="userId"
                                                                   value="<%=  currentSessionUserId %>">
                                                            <input type="hidden" id="csrfToken" name="_csrf"
                                                                   value="<%= csrfToken %>">

                                                            <button class="btn waves-effect waves-light grey darken-4"
                                                                    type="submit" name="action">
                                                                Submit
                                                                <i class="material-icons right">send</i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>

                                <br>
    </main>

    <%- include("../includes/bottom.ejs") %>