<%- include("./includes/top.ejs") %>

<main>
  <div class="container">
    <br /><br />
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="input-field col s12">
                <h5>Contact</h5>
              </div>
            </div>

            <% if (errorMessage.length > 0) { %>
            <div class="chip">
              <%= errorMessage[0].msg %>
              <i class="close material-icons">close</i>
            </div>
            <% } %>

            <form action="/contact" method="POST">
              <div class="row">
                <div class="input-field col s12">
                  <input
                    value="<%= oldInput ? oldInput.name: '' %>"
                    id="name"
                    type="text"
                    name="name"
                    id="name"
                    class="validate"
                    required
                  />
                  <label for="name">Name</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input
                    value="<%= oldInput ? oldInput.email: '' %>"
                    id="email"
                    type="email"
                    name="email"
                    class="validate"
                    required
                  />
                  <label for="email">Email</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <textarea
                    value="<%= oldInput ? oldInput.message: '' %>"
                    id="textarea"
                    name="message"
                    class="materialize-textarea"
                  ></textarea>

                  <label for="text">Message</label>
                </div>
              </div>

              <div class="row">
                <div class="center col s12">
                  <input
                    type="hidden"
                    id="csrfToken"
                    name="_csrf"
                    value="<%= csrfToken %>"
                  />
                  <button
                    class="btn waves-effect waves-light teal darken-4"
                    type="submit"
                    name="action"
                  >
                    Send
                    <i class="material-icons right">send</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</main>

<%- include("./includes/bottom.ejs") %>
