<%- include("../includes/top.ejs") %>

<main>
  <div class="container">
    <br /><br />
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="input-field col s12">
                <h4>User details</h4>
              </div>
            </div>

            <form
              action="/user/update-profile-picture/<%= currentSessionUserId %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <div id="profile-picture-preview-div" class="row">
                <div class="input-field col s12 center">
                  <img width="80%" id="picture" src="" alt="" />
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <div class="file-field input-field">
                    <div class="btn waves-effect waves-light teal darken-4">
                      <span>Upload</span>
                      <input
                        type="file"
                        name="picture"
                        id="picture"
                        accept="image/*"
                      />
                    </div>
                    <div class="file-path-wrapper">
                      <input
                        class="file-path validate"
                        type="text"
                        placeholder="image"
                        onchange="previewProfilePicture()"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="center col s12">
                  <input
                    type="hidden"
                    id="csrfToken"
                    name="_csrf"
                    value="<%= csrfToken %>"
                  />
                  <button
                    class="btn waves-effect waves-light teal darken-4"
                    type="submit"
                    name="action"
                    id="profile_picture"
                  >
                    Update
                    <i class="material-icons right">update</i>
                  </button>
                </div>
              </div>
            </form>

            <form
              action="/user/update-username/<%= currentSessionUserId %>"
              method="POST"
            >
              <div class="row">
                <div class="input-field col s12">
                  <input
                    type="text"
                    name="username"
                    placeholder="username"
                    id="username"
                    value="<%= username %>"
                    required
                  />
                </div>
              </div>

              <div class="row">
                <div class="center col s12">
                  <input
                    type="hidden"
                    id="csrfToken"
                    name="_csrf"
                    value="<%= csrfToken %>"
                  />
                  <button
                    class="btn waves-effect waves-light teal darken-4"
                    type="submit"
                    name="action"
                  >
                    Update<i class="material-icons right">update</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</main>

<%- include("../includes/bottom.ejs") %>
