<%- include("../includes/top.ejs") %>

<main>
  <div class="container">
    <br />
    <br />

    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="input-field col s12">
                <h5>User details</h5>
              </div>
            </div>

            <!-- ---------- image preview ---------- -->
            <div class="row">
              <div class="input-field col s12 center">
                <img style="width: 30%; height: 30%;" class="circle
                responsive-img " src="<%= !profilePicture ?
                '/images/default_profile_picture.jpg' : "/" + profilePicture%>"
                />
              </div>
            </div>

            <form
              action="/user-details/<%=currentSessionUserId%>"
              method="POST"
              enctype="multipart/form-data"
            >
              <!-- ---------- image upload ---------- -->
              <div class="row">
                <div class="input-field col s12">
                  <div class="file-field input-field">
                    <div class="btn waves-effect waves-light teal darken-4">
                      <span>Upload</span>
                      <input
                        type="file"
                        name="picture"
                        id="picture"
                        accept="image/*"
                      />
                    </div>
                    <div class="file-path-wrapper">
                      <input
                        class="file-path validate"
                        type="text"
                        placeholder="Image"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <!-- ---------- username ---------- -->
              <div class="row">
                <div class="input-field col s12">
                  <input
                    value="<%= oldInfo.username %>"
                    id="username"
                    type="text"
                    name="username"
                    id="username"
                    class="validate"
                  />
                  <label for="name">username</label>
                </div>
              </div>

              <!-- ---------- email ---------- -->
              <div class="row">
                <div class="input-field col s12">
                  <input
                    value="<%= oldInfo.email %>"
                    id="email"
                    type="email"
                    name="email"
                    class="validate"
                  />
                  <label for="email">Email</label>
                </div>
              </div>

              <!-- ---------- password ---------- -->
              <div class="row">
                <div class="input-field col s12">
                  <input
                    id="password"
                    type="password"
                    name="password"
                    value="<%= oldInfo.password %>"
                    class="validate"
                  />
                  <label for="password">Password</label>
                </div>
              </div>

              <!-- ---------- update ---------- -->
              <div class="row">
                <div class="center col s12">
                  <input
                    type="hidden"
                    id="csrfToken"
                    name="_csrf"
                    value="<%= csrfToken %>"
                  />
                  <button
                    class="btn waves-effect waves-light teal darken-4"
                    type="submit"
                    name="action"
                  >
                    Update
                    <i class="material-icons right">update</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</main>

<%- include("../includes/bottom.ejs") %>
